html, body {
    height: 100%;
    margin: 0;
    font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    height: 100%;
    padding: 1vh 1vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #111;
}

.header {
    height: 10vh;
    position: relative;
    background-color: #000;
}

/* Left yellow background */
.left-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(75% - 1vw);
    background-color: #ff0;
    z-index: 0;
}

/* Right yellow background */
.right-bg {
    position: absolute;
    top: 0;
    left: 75%;
    height: 100%;
    width: 25%;
    background-color: #ff0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Images */
#dep, #arr {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

/* Boards container */
.boards {
    flex: 1;
    display: flex;
    gap: 1vw;
    background-color: #000;
    padding: 1vw;
    box-sizing: border-box;
}

/* Left 3/4 section */
.left-board {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 1vw;
    gap: 1vw;
}

/* Right 1/4 section */
.right-board {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 1vw;       /* padding-left + padding-right */
    box-sizing: border-box; /* include padding in width */
}


.left-board > div, .right-board > div {
    flex: 1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}


/* Table inside each board */
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: none;
}

/* Blue Gate header row */
.board-table thead th {
    background-color: #06c;
    color: #fff;
    height: 2vh;
    line-height: 2vh;
    padding: 1vh 0.25vw;
    text-align: left;
    font-weight: bold;
    font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Table cells */
.board-table td, .board-table th {
    padding: 1vh 0.25vw;
    text-align: left;
    border: 1px solid #444;
    color: #fff;
    border: none;
}

.board-table thead tr {
    border: none;
}

.board-table tr {
    border-bottom: 1px solid #eeeeee;
}

.board-table tbody tr:nth-child(21) {
    border-bottom: none;
}


#gate {
    text-align: left;
}

#destination {
    color: #ff0;
}

#green {
    color: #0f0;
}

#red {
    color: #ff0;
}

#white {
    color: #fff;
}