@font-face {
    font-family: "Core Sans N 53 Exp Medium";
    src: url("/static/AkzidenzGroteskBE-Md.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: "Akzidenz Grotesk BE";
}

.container {
    height: 100%;
    padding: 1vh 1vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #111;
}

.header {
    height: 10vh;
    position: relative;
    background-color: #000;
}

/* Left yellow background */
.left-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 0.5vw);
    background-color: #fdcd01;
    z-index: 0;
}

.right-bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(50% - 0.5vw);
    background-color: #fdcd01;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Images */
#dep, #arr {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

/* Boards container */
.boards {
    flex: 1;
    display: flex;
    gap: 1vw;
    background-color: #000;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}


/* Left half */
.left-board {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

/* Right half */
.right-board {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}



.left-board > div, .right-board > div {
    flex: 1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}


/* Table inside each board */
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: none;
    table-layout: fixed;
}

/* Blue Gate header row */
.board-table thead th {
    background-color: #06c;
    color: #fff;
    height: 2vh;
    line-height: 2vh;
    padding: 1vh 0.25vw;
    text-align: left;
    font-weight: bold;
    font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.arr1 thead th {
    background-color: #7487a1 !important;
}

.arr2 thead th {
    background-color: #7487a1 !important;
}

#banner {
    background-color: #06c;
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    border-bottom: none;
}


/* Table cells */
.board-table td, .board-table th {
    padding: 1vh 0.25vw;
    text-align: left;
    border: 1px solid #444;
    color: #fff;
    border: none;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.board-table thead tr {
    border: none;
}

.board-table tr {
    border-bottom: 1px solid #eeeeee;
}

.board-table tbody tr:nth-child(24) {
    border-bottom: 1px solid #444;
}

.dep2body tbody tr:nth-child(23) {
    border-bottom: 1px solid #444;
}

.arr1body tbody tr:nth-child(23) {
    border-bottom: 1px solid #444;
}

.blank-row {
    border-bottom: none !important;
}

.destination {
    color: #dadb00 !important;
    max-width: 40%;
}

.green {
    color: #09a700  !important;
}

.red {
    color: #ff442f  !important;
}

.yellow {
    color: #dadb00  !important;
}

.white {
    color: #fff !important;
}

.board-title {
    padding: 0;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5vw;
}

.title-left {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.title-left {
    font-size: 1em;
}

.title-right {
    font-weight: bold;
    text-align: right;
    font-size: 1em;
}

.pre-space {
    white-space: pre !important;
}

.stand {
    text-align: center !important;
}

.dep2,
.arr1 {
    display: flex;
    flex-direction: column;
}

.dep2 .board-table,
.arr1 .board-table {
    height: 100%;
}
